*{
    margin: 0;
    padding: 0;

}

section{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.2em;

}

section main{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: fit-content;
    padding-bottom: 0.5em;
    gap: 1em;
}

#actualiter-titles{
    background-color: white;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#actualiter-titles .title{
    background-color: white;
    color: blue;
    border: none;
    border-left: 4px solid blue;
    padding-right: 0.8em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    width: fit-content;
    margin: 0;
    font-weight: 700;
}



.actualiter-container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    overflow: hidden;
    font-size:2em;
}


.container-non-active{
    display: none;
}
.actualiter-container .content{
    background-color: lightgray;
    padding-left: 1em;
    font-size: 0.7em;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}


.actualiter-container .content a{
    color: black;
    text-decoration: none;
    border-left: 5px solid red;
    padding-left: 1em;
    font-weight: 400;
}



/*events*/

section aside{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: fit-content;
    gap: 1em;
    padding-bottom: 1em;
}



#event-title{
    background-color: white;
    color: black;
    font-weight: 700;
    font-size: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;  

}

section aside .content a{
    text-decoration: none;
    color: black;
}

section aside .content{
    background-color: lightgray;
    width: fit-content;
    height: fit-content;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 0.5em;
    font-weight: 450;
    font-size: 1.1em;
    font-family: poppins,sans-serif;
    margin-left: 0.2em;
}

section aside .content .date{
    padding: 0.5em;
    height: 100%;
    font-size: 1.5em;
    font-weight: 800;
    border-right: 5px dotted blue;
}


